{% extends 'base.html' %}

<!-- JS Block -->
{% block js_content %}

{% endblock %}
    
<!-- CSS Block -->
{% block css_content %}

{% endblock %}

<!-- Main Block -->
{% block content %}
{% load static %}
{% if request.session.loginFlag == True %}
<p>登入成功</p>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <form action="/generate_EMA/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">輸入問題</label>
                  <input type="text" class="form-control" id="question" aria-describedby="questionHelp" name="question">
                  <small id="questionHelp" class="form-text text-muted">輸入算式以生成詳解，請注意格式。</small>
                </div>
                {% if question %}
                    <p style="color:#de5d0d; font-weight:bolder"> 您輸入的算式為 :{{question}} </p>
                {% else %} 
                    <p style="color:#de5d0d; font-weight:bolder"> 尚未輸入 </p>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div> 
    </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            {% if question %}
            <video src="{% static "./videos/EMA_generate/720p30/output.mp4" %}" controls width=600></video>
            {% endif %} 
        </div> 
    </div>
</div>
 

{% else %}
<p>尚未登入</p>

{% endif%}

{% endblock %}